footer
    nav
        a(href="index.html")
            img(src="imgs/Logo.png", alt="狸小路 logo" class="logo")
        div(class="link")
            a(href="news.html") 最新消息
            a(href="cakes.html") 產品介紹
            a(href="contact.html") 聯絡我們
    div(id="copy") Copyright&copy;2019 狸小路 All rights reserved.