
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #58451A;
    font-family: 微軟正黑體;
    text-align: center;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}
h3 {
    color: #fbae1a;
    font-size: 20px;
}
body {
    background-color:  #FAF7F0;
}
#banner {
    background-image: url(imgs/Banner.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vw/2.1);
}
#logo {
    width: 300px;
    float: left;
}
#link {
    float: right;
    padding: 40px 0;
}
#link a {
    color: #fff;
    padding: 5px 15px;
    font-weight: 400;
    letter-spacing: 3px;
}
#link a:hover {
    background-color: #ffe048;
    color: #000000;
    transition: 0.6s;
}
/* 導覽獵區塊 */
nav {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}
/* brands 區塊 */
#brands {
    text-align: center;
}
/* 標題區塊 樣式 */
.title-box {
    text-align: center;
}
.title-box h1 {
    font-size: 32px;
    letter-spacing: 10px;
    padding: 10px;
    text-align: center;
}
.title-box h2 {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}
.title::before {
    content: "＼";
    padding: 0 20px;
}
.title::after {
    content: "／";
    padding: 0 20px;
}
#brands p {
    margin: 0 auto;
    line-height: 2;
    width: 520px;
    font-size: 18px;
    padding: 50px;
    opacity: 0.6;
}
/* cakes 產品區塊 */
#cakes {
    /* 顯示模式:格線 */
    display: grid;
    /* 格線-框架-欄位:欄位尺寸 欄位尺寸...可多個 */
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 0 30px;
    margin: 0 auto;
    width: 870px;
}
.cakes-box img {
    width: 100%;
}
.cakes-box h3 {
    text-align: left;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 10px 0;
}
.cakes-box p {
    text-align: left;
    opacity: 0.6;
}
.cakes-box hr {
    color: #58451A;;
    opacity: 0.3;
}
/* 大的按鈕 */
.btn-big {
    display: inline-block;
    padding: 10px 100px;
    margin: 10px;;
    background-color: #642200;
    color: #fff;
    border: 1px solid #642200;
}
.btn-big:hover {
    background-color: transparent;
    color: #642200;
    border: 1px solid #642200;
    font-weight: 900;
}